<div data-controller="recipe" class="flex flex-col gap-4 border border-gray-100 pt-2 px-4 pb-4 relative">
  <div class="flex flex-row justify-between">
    <h3 class="pb-4 text-xl text-black font-bold">Drections</h3>
  </div>
  <div data-controller="recipe" data-recipe-id-value="<%= id %>">
    <% if defined? edit%>
      <%= render "admins/recipes/direction/recipe_sub_direction_form", id:id %>
    <% end %>
    <%= render "admins/recipes/direction/recipe_sub_direction_list", id:id, directions: directions %>
  </div>
</div>
