<%= link_to  meal_plans_plans_path(meal_type: meal_type, plan_id: plan_id, day: day ), class: "p-0",  data: { turbo_frame: "modal" } do %>
  <div class="border border-accent/50 rounded-md p-4 md:p-6 h-52 flex flex-col justify-center items-center hover:shadow-md" data-hs-overlay="#hs-task-created-alert">
    <%= svg_tag "plus", style: "color:#DDDDDD" %>
  </div>
<% end %>
