
<div class="w-full flex flex-col rounded-lg overflow-hidden shadow-md h-32 bg-white p-4 relative roun" id="<%= dom_id plan %>" >
    <div class="flex flex-col h-full">
      <%= link_to  plan_path(plan) do %>
        <h4><%= plan.plan_name %></h4>
      <% end %>
    </div>
  <div class="w-full flex justify-end">

    <button class="flex items-center justify-center btn h-7 w-7 rounded-full bg-slate-150 p-0 font-medium bg-accent text-slate-800 hover:bg-slate-200 hover:shadow-lg hover:shadow-slate-200/50 focus:bg-slate-200 focus:shadow-lg focus:shadow-slate-200/50 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:hover:shadow-navy-450/50 dark:focus:bg-navy-450 dark:focus:shadow-navy-450/50 dark:active:bg-navy-450/90">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 rotate-45" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 11l5-5m0 0l5 5m-5-5v12"></path>
      </svg>
    </button>

    <%= button_to plan, method: :delete, class: "absolute right-0 top-0 py-1 px-2 bg-gray-100  text-gray-400 hover:bg-red-700 hover:text-gray-100 rounded-bl-2xl" do %>
        <i class="bi bi-trash"></i>
    <% end %>
  </div>
</div>

