<div class="w-full h-full bg-gray-100">
  <div class="page-container">
    <%= render "users/plans/shared/top_cta" %>
    <div class="flex justify-between my-6">
      <h1 class="px-3 py-2 text-3xl border-l-4 border-accent">Plans</h1>
      <%= link_to  new_plan_path, method: :get, data: {turbo_frame: 'modal'}, class: "flex items-center gap-2 text-xl button button--secondary" do %>
        <i class="bi bi-plus text-2xl"></i>
        <span>Create plan</span>
      <% end %>
    </div>
    <% turbo_stream_from "plan" %>
    <div class="flex flex-col gap-4">
      <%= turbo_frame_tag :lazy_loading, src: lazy_update_plans_path do %>
        <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
          <% 6.times do %>
            <div  class="animate-pulse w-full flex flex-col gap-4 rounded-lg overflow-hidden shadow-md h-32 bg-white p-4 relative roun">
              <div class="flex flex-col gap-2">
                <h4 class="w-9/12 py-3 bg-slate-200"></h4>
                <h4 class="w-6/12 py-2 bg-slate-200"></h4>
                <h4 class="w-6/12 py-1 bg-slate-200"></h4>
              </div>
              <div class="w-full flex justify-end">
                <span class="flex items-center justify-center btn h-7 w-7 rounded-full bg-slate-200">
                </span>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
