<div class="w-full h-full bg-gray-100">
  <div class="page-container">
    <%= render "users/plans/shared/top_cta" %>
    <div class="flex justify-between my-6">
      <h1 class="px-3 py-2 text-3xl border-l-4 border-accent">Plans</h1>
      <%= link_to  new_plan_path, method: :get, data: {turbo_frame: 'modal'}, class: "flex items-center gap-2 text-xl button button--secondary" do %>
        <i class="bi bi-plus text-2xl"></i>
        <span>Create plan</span>
      <% end %>
    </div>
    <% turbo_stream_from "plan" %>
    <div class="flex flex-col gap-4">
      <% if  @plans.count > 0 %>
        <div class="grid grid-cols-3 gap-4" id="plans">
          <% @plans.each do |plan| %>              
            <%= render plan %>
          <% end %>
        </div>
      <% else %>
        <%= render "empty_add" %>
      <% end %>
    </div>
  </div>
</div>
