/* line 40, app/assets/stylesheets/pdf.scss */
.portrait-page {
  width: 100%;
  float: left;
  min-height: 1832px;
  margin: 5px 0;
}

/* line 48, app/assets/stylesheets/pdf.scss */
.row {
  display: -webkit-box;
  /* wkhtmltopdf uses this one */
  display: flex;
  -webkit-box-pack: center;
  /* wkhtmltopdf uses this one */
  justify-content: center;
}

/* line 55, app/assets/stylesheets/pdf.scss */
.row > div {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

/* line 61, app/assets/stylesheets/pdf.scss */
.row > div:last-child {
  margin-right: 0;
}

/* line 65, app/assets/stylesheets/pdf.scss */
.flex-wrap {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -webkit-box-wrap: wrap;
}

/* line 71, app/assets/stylesheets/pdf.scss */
.grocery-list {
  width: 30%;
  float: left;
}

/* line 75, app/assets/stylesheets/pdf.scss */
.grocery-list-block {
  margin: 0 10px;
}

/* line 78, app/assets/stylesheets/pdf.scss */
.head {
  background-color: chocolate;
  padding: 1px 6px;
  color: #f1f1f1;
}

/* line 84, app/assets/stylesheets/pdf.scss */
.m {
  margin: 5px;
}

/* line 87, app/assets/stylesheets/pdf.scss */
.mx {
  margin: 5px;
}

/* line 90, app/assets/stylesheets/pdf.scss */
.my {
  margin: 5px;
}

/* line 94, app/assets/stylesheets/pdf.scss */
h1 {
  font-size: 54px;
  font-weight: bold;
}

/* line 99, app/assets/stylesheets/pdf.scss */
.head-wrap {
  position: relative;
}

/* line 103, app/assets/stylesheets/pdf.scss */
.recipe-head {
  position: absolute;
  width: 700px;
  min-height: 200px;
  top: 50px;
  left: 500px;
  background-color: #f9f9f9;
  padding: 5px 30px;
}

/* line 113, app/assets/stylesheets/pdf.scss */
.recipe-image {
  width: 600px;
  padding-right: 10px;
}

/* line 118, app/assets/stylesheets/pdf.scss */
ul > li {
  margin: 10px 0;
}

/* line 122, app/assets/stylesheets/pdf.scss */
ul.days {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 129, app/assets/stylesheets/pdf.scss */
ul.days > li {
  float: left;
  width: 11.8%;
  min-height: 20px;
  padding: 10px 10px;
  background-color: #000;
  color: #fff;
  list-style-type: none;
  margin-right: 14px;
  font-size: 24px;
  font-weight: bolder;
}
