<div class="page-container">
  <h1 class="py-2 px-4 border-l-4 border-accent/50 text-primary text-3xl mb-4">Editing recipe</h1>
  <%= render "form", recipe: @recipe, recipe_ingredient: @recipe_ingredients, edit: true %>
  <br>
  <div class="flex justify-end gap-4 p-4 bg-gray-700 text-gray-200">
    <%= link_to "Show this recipe", @recipe %> |
    <%= link_to "Back to recipes", admins_recipes_path %>
  </div>
</div>
