<ul class="flex flex-col gap-4 text-xl text-gray-700">
  <li><span class="font-bold">Quantity: &nbsp;</span> <%= ingredient.quantity %>
  </li>
  <li><span class="font-bold">Grocery: &nbsp;</span> <%= ingredient.grocery.name %>
  </li>
  <li><span class="font-bold">measurement Unit: &nbsp;</span> <%= ingredient.measurement_unit.name %>
  </li>
  <li><span class="font-bold">Ingredient State: &nbsp;</span> <%= ingredient.ingredient_state.name %>
  </li>
</ul>
