@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @layer base {
	:root {
		--color-primary: 110 193 228;
		--color-secondary: 84 89 95;
		--color-tertiary: 122 122 122;
		--color-accent: 97 206 112;
	}
} */

@import 'colors.css';

@import 'pagy.css';

@import 'buttons.css';
@import 'animations.css';
@import 'layout.css';
@import 'bootstrap-icons.css';

/* Variables */
/* :root {
	color: var(--fill-color);
	--text-color: rgba(000, 000, 000);
	--fill-color: rgba(255, 195, 0);
} */

/* @layer utilities {
	@variants responsive {
		.masonry-3-col {
			column-count: 3;
			column-gap: 1em;
		}
		.masonry-2-col {
			column-count: 2;
			column-gap: 1em;
		}
		.break-inside {
			break-inside: avoid;
		}
	}
} */
@layer base {
	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-5xl;
	}

	h3 {
		@apply text-4xl;
	}

	h4 {
		@apply text-3xl;
	}

	h5 {
		@apply text-2xl;
	}
}

.signup_gradient_J0K:before {
	top: 0;
	left: 0;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: radial-gradient(
			circle at top right,
			#b2b3f1,
			#fff 42%,
			transparent 0
		),
		radial-gradient(circle at bottom left, #b2b3f1, #fff 42%, transparent 0);
}

/* .avatar > img {
	height: 100%;
	width: 100%;
} */
.mask {
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
}
.mask.is-squircle {
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
}

/* Looper styles */
@keyframes slideAnim {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

.looper {
	width: 100%;
	overflow: hidden;
}

.looper__innerList {
	display: flex;
	justify-content: center;
	width: fit-content;
}

.looper__innerList[data-animate='true'] .looper__listInstance {
	animation: slideAnim linear infinite;
}

.looper__listInstance {
	display: flex;
	width: max-content;

	animation: none;
}

.rotate-45 {
	--tw-rotate: 45deg;
}

.services-ticker-block {
	position: relative;
	display: flex;
	align-items: center;
	/* overflow: hidden; */
	align-items: flex-start;
	width: 100%;
}
/* body {
	display: flex;
} */
/* .scroll_box {
	position: relative;
	white-space: nowrap;
	padding: 0;
	will-change: transform;
	display: flex;
	flex-direction: row;
	border: 2px solid #eee;
	width: 100%;
	background-color: #eee;
} */
.stb-item {
	padding: 0;
	font-size: 60px;
	display: inline-block;
	margin-right: 5rem;
	color: #2797fe;
	font-family: 'Ivar Display';
	font-weight: 400;
	letter-spacing: 0.3rem;
	text-decoration: none;
	border: 1px solid #eee;
	/* width: 25%;
	overflow: hidden; */
}
.stb-item:hover {
	color: #c02534;
}

.img-hover-zoom,
.video-hover-zoom {
	height: 100%; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img,
.video-hover-zoom video {
	transition: transform 0.6s ease-in-out;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img,
.video-hover-zoom:hover video {
	transform: scale(1.05);
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #555;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	animation: pulse 1s linear infinite;
}
.loader:after {
	content: '';
	position: absolute;
	width: 48px;
	height: 48px;
	border: 5px solid #555;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: scaleUp 1s linear infinite;
}
