@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* @layer base {
	:root {
		--color-primary: 110 193 228;
		--color-secondary: 84 89 95;
		--color-tertiary: 122 122 122;
		--color-accent: 97 206 112;
	}
} */

@import 'colors.css';

@import 'pagy.css';

@import 'buttons.css';
@import 'animations.css';
@import 'layout.css';
@import 'bootstrap-icons.css';

/* Variables */
/* :root {
	color: var(--fill-color);
	--text-color: rgba(000, 000, 000);
	--fill-color: rgba(255, 195, 0);
} */

/* @layer utilities {
	@variants responsive {
		.masonry-3-col {
			column-count: 3;
			column-gap: 1em;
		}
		.masonry-2-col {
			column-count: 2;
			column-gap: 1em;
		}
		.break-inside {
			break-inside: avoid;
		}
	}
} */
@layer base {
	h1 {
		@apply text-6xl;
	}

	h2 {
		@apply text-5xl;
	}

	h3 {
		@apply text-4xl;
	}

	h4 {
		@apply text-3xl;
	}

	h5 {
		@apply text-2xl;
	}
}

.show-page > label {
	@apply pl-3 py-1.5 border-l-2 border-accent;
}
.mob-days {
	@apply text-right absolute top-1 right-0 pl-1 pr-3 -mr-2  py-0.5 bg-black/70 text-white text-[10px] rounded-l-md shadow-sm block lg:hidden;
}

.signup_gradient_J0K:before {
	top: 0;
	left: 0;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-image: radial-gradient(
			circle at top right,
			#b2b3f1,
			#fff 42%,
			transparent 0
		),
		radial-gradient(circle at bottom left, #b2b3f1, #fff 42%, transparent 0);
}

/* .avatar > img {
	height: 100%;
	width: 100%;
} */
.mask {
	-webkit-mask-position: center;
	mask-position: center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: contain;
	mask-size: contain;
}
.mask.is-squircle {
	-webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
	mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
}

/* Looper styles */
@keyframes slideAnim {
	from {
		transform: translateX(0%);
	}
	to {
		transform: translateX(-100%);
	}
}

.looper {
	width: 100%;
	overflow: hidden;
}

.looper__innerList {
	display: flex;
	justify-content: center;
	width: fit-content;
}

.looper__innerList[data-animate='true'] .looper__listInstance {
	animation: slideAnim linear infinite;
}

.looper__listInstance {
	display: flex;
	width: max-content;

	animation: none;
}

.rotate-45 {
	--tw-rotate: 45deg;
}

.services-ticker-block {
	position: relative;
	display: flex;
	align-items: center;
	/* overflow: hidden; */
	align-items: flex-start;
	width: 100%;
}
/* body {
	display: flex;
} */
/* .scroll_box {
	position: relative;
	white-space: nowrap;
	padding: 0;
	will-change: transform;
	display: flex;
	flex-direction: row;
	border: 2px solid #eee;
	width: 100%;
	background-color: #eee;
} */
.stb-item {
	padding: 0;
	font-size: 60px;
	display: inline-block;
	margin-right: 5rem;
	color: #2797fe;
	font-family: 'Ivar Display';
	font-weight: 400;
	letter-spacing: 0.3rem;
	text-decoration: none;
	border: 1px solid #eee;
	/* width: 25%;
	overflow: hidden; */
}
.stb-item:hover {
	color: #c02534;
}

.img-hover-zoom,
.video-hover-zoom {
	height: 100%; /* [1.1] Set it as per your need */
	overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img,
.video-hover-zoom video {
	transition: transform 0.6s ease-in-out;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img,
.video-hover-zoom:hover video {
	transform: scale(1.05);
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid #555;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	animation: pulse_inner 1s linear infinite;
}
.loader:after {
	content: '';
	position: absolute;
	width: 48px;
	height: 48px;
	border: 5px solid #555;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	animation: scaleUp 1s linear infinite;
}

/*  --------------------------------------   */
.multiselect__container {
	font-family: sans-serif;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	padding-right: 1.75rem;
	padding-left: 0.5rem;
	background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
		no-repeat right;
	background-color: transparent;
	/* border-radius: 0.25rem; */
	appearance: none;
	/* border: 1px solid rgb(218 218 218); */
	outline-offset: 2px;
	/* outline: transparent solid 2px; */
	color: rgb(55 61 63);
	line-height: 1.5;
	font-style: normal;
	font-weight: 400;
	font-size: 0.875rem;
	cursor: pointer;
}

.multiselect__no-result {
	color: rgb(112 112 112);
	padding: 0.75rem;
	font-size: 0.875rem;
}

.multiselect__addable-button {
	padding: 0.5rem;
	text-decoration-line: underline;
	color: rgb(55 61 63);
	cursor: pointer;
}

.multiselect__addable-button:hover {
	color: rgb(29 115 186);
}

.multiselect__container:focus-within {
	/* border-color: rgb(44 141 222);
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
		0 2px 4px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
}

.multiselect__container--disabled {
	background-color: rgb(240 240 240);
	cursor: not-allowed;
}

/*
.multiselect__container:hover {
	--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	--tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
		0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
*/

.multiselect__hidden {
	display: none;
}

.multiselect__preview {
	width: -webkit-fill-available;
	width: -moz-available;
	width: -webkit-fill-available;
	gap: 0.5rem;
	font-size: 0.875rem;
	display: flex;
	flex-wrap: wrap;
}

.multiselect__pill {
	max-width: fill-available;
	color: rgb(55 61 63);
	font-size: 0.75rem;
	padding-left: 0.5rem;
	background-color: rgb(250 249 244);
	border: 1px solid #f0f0f0;
	border-radius: 0.25rem;
	display: flex;
}

.multiselect__pill-delete {
	padding: 0.25rem 0.5rem 0.25rem 0.5rem;
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
	align-items: center;
	display: flex;
	margin-left: 0.25rem;
}

.multiselect__pill-delete:hover {
	background-color: rgb(254 178 178);
}

.multiselect__pill:hover svg {
	fill: rgb(246, 71, 71);
}

.multiselect__pill-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.multiselect__input-container {
	display: flex;
}

.multiselect__focused {
	background-color: #f4fbff;
}

.multiselect__placeholder {
	color: rgb(174 174 174);
	font-style: italic;
	padding-left: 0.25rem;
	opacity: 1;
}

.multiselect__addable {
	text-decoration-line: underline;
	color: rgb(112 112 112);
	text-align: center;
}

.multiselect__addable:hover {
	color: rgb(55 61 63);
}

.multiselect__search {
	width: 100%;
	outline: 2px solid transparent;
	outline-offset: 2px;
	border: transparent;
	color: rgb(55 61 63);
	font-size: 0.875rem;
	padding-left: 0.25rem;
}

.multiselect__search:focus::placeholder {
	color: rgb(112 112 112);
}

.multiselect__search:disabled {
	background-color: rgb(240 240 240);
	cursor: not-allowed;
}

.multiselect__search::placeholder {
	font-style: italic;
	opacity: 1;
	color: rgb(174 174 174);
}

.multiselect__list {
	max-height: 200px;
	overflow-y: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.multiselect__list li {
	display: block;
	align-items: center;
	font-size: 0.875rem;
	color: rgb(112 112 112);
	border-top-width: 1;
}

.multiselect__list li:first {
	border-top-width: 0;
}

.multiselect__list li:hover {
	background-color: rgb(244 251 255);
}

.multiselect__list li label {
	padding: 0.75rem;
	align-items: center;
	cursor: pointer;
	display: flex;
}

.multiselect__list li:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.multiselect__list li:last-child {
	border-bottom-left-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
}

.multiselect__list li input {
	margin-right: 0.75rem;
}

.multiselect__dropdown {
	/* --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
		0 2px 4px -1px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow); */
	/* background-color: rgb(255 255 255); */
	/* border: 1px solid rgb(218 218 218); */
	width: 100%;
	/* border-radius: 0.25rem; */
	display: none;
	/* margin-top: -0.2rem; */
	/* z-index: 50; */
	position: absolute;
}

.multiselect__dropdown--open {
	display: block;
}
